extends layout.pug

block content
    each user in users
        h2 Existing Users
            tr
                td= user
                td= user[0].id
                td= user[0].firstName
                td= user[0].lastName
                td= user[0].email